@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@700&display=swap");

:root {
  --first-color: rgb(130, 229, 152);
  --second-color: rgb(97, 164, 44);
  --third-color: rgb(246, 212, 90);

  --first-font: "Alegreya", serif;
  --second-font: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

footer {
  width: 100%;
  align-self: flex-end;
  bottom: 0;
}

a {
  text-decoration: none;
}

.dinamic-border {
  border-bottom: 2px solid #fff;
}

.main-box {
  height: 37.5rem;
  background-color: var(--first-color);
}

.main-title {
  font-size: 3.2rem;
  font-family: var(--first-font);
}

.main-text {
  font-size: 1.2rem;
  font-family: var(--second-font);
  font-weight: 100;
}

.main-img {
  width: auto;
  height: 16.56rem;
  z-index: 1;
}

.main-img-2 {
  height: 14rem;
}

.products-content-first-box-title {
  color: var(--second-color);
  font-family: var(--first-font);
}

.central-logo {
  width: auto;
  height: 2.5rem;
}

.line {
  width: 3rem;
  height: 0.3rem;
  background-color: var(--third-color);
}

.central-first-content-desktop {
  display: none;
}

.central-first-content-first-box-title,
.central-first-content-second-box-title {
  color: var(--second-color);
  font-family: var(--first-font);
}

.central-first-content-first-box-info,
.central-first-content-second-box-info {
  font-family: var(--second-font);
  font-weight: 500 !important;
}

.central-first-content-third-box-img {
  width: auto;
  height: 13rem;
}

.footer-box {
  background-color: var(--first-color);
}

.footer-img {
  width: auto;
  height: 2.125rem;
}

.footer-box-contact-box p {
  font-size: 1.3rem;
  font-family: var(--second-font);
}

.footer-box-contact-box i {
  color: #000;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.footer-box-contact-box i:hover {
  color: #fff;
}

.footer-box-location-box p {
  font-size: 1.3rem;
  font-family: var(--second-font);
}

/* BASciarretta */

.videos {
  overflow: hidden;
  padding-bottom: 25rem;
  position: relative;
  height: 0;
}

.videos video {
  height: 100%;
  width: 100%;
  position: absolute;
}

.circulo {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--third-color);
}

.cuadrado {
  height: 150px;
  width: 150px;
}

.linea {
  background-color: var(--third-color);
}

/* BASciarretta */

.navbar {
  background-color: var(--first-color);
}

.nav-link {
  color: #000 !important;
  font-family: var(--second-font);
  text-align: center;
  transition: all 0.3s;
}

.nav-link:hover {
  background-color: #fff !important;
  color: #000 !important;
}

.navbar-collapse {
  margin-top: 0.5rem;
}

.navbar-brand img {
  width: auto;
  height: 2.125rem;
}

@media screen and (min-width: 400px) {
  .central-logo {
    height: 3rem;
  }

  .line {
    width: 5.7rem;
  }

  .central-first-content-first-box-title,
  .central-first-content-second-box-title {
    font-size: 2.2rem;
  }

  .central-first-content-third-box-img {
    height: 17rem;
  }
}

@media screen and (min-width: 576px) {
  .main-box {
    height: 26rem;
  }

  .main-title {
    text-align: left !important;
  }

  .main-text {
    text-align: left !important;
  }

  .central-logo {
    height: 4rem;
  }

  .line {
    width: 8.7rem;
    height: 0.6rem;
  }

  .central-first-content {
    display: none;
  }

  .central-first-content-desktop {
    display: flex;
  }

  .central-first-content-first-box-img {
    width: auto;
    height: 12.5rem;
  }

  .central-first-content-second-box-title,
  .central-first-content-second-box-subtitle {
    color: var(--second-color);
    font-size: 1.55rem;
    font-family: var(--first-font);
  }

  .central-first-content-second-box-info-us,
  .central-first-content-second-box-info-comfort {
    font-size: 0.8rem;
    font-family: var(--second-font);
    font-weight: 500 !important;
  }

  .footer-box {
    flex-direction: row !important;
  }

  .footer-box-img {
    justify-content: flex-start !important;
  }

  .nav-link:hover {
    background: none !important;
    color: #fff !important;
  }

  .navbar-collapse {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .main-img {
    height: 22rem;
  }

  .central-logo {
    height: 5rem;
  }

  .line {
    width: 11.7rem;
  }

  .central-first-content-first-box-img {
    height: 17rem;
  }

  .central-first-content-second-box-title,
  .central-first-content-second-box-subtitle {
    font-size: 2.5rem;
  }

  .central-first-content-second-box-info-us,
  .central-first-content-second-box-info-comfort {
    font-size: 1rem;
  }

  .footer-img {
    height: 2.5rem;
  }

  .footer-box-contact {
    margin-bottom: 3rem;
  }

  .footer-box-contact-box p {
    font-size: 1.6rem;
  }

  .footer-box-location-box p {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 992px) {
  .main-title {
    font-size: 4rem;
  }

  .main-img {
    height: 25rem;
  }

  .central-logo {
    height: 6.3rem;
  }

  .line {
    width: 14.7rem;
  }

  .central-first-content-first-box-img {
    height: 22.5rem;
  }

  .central-first-content-second-box-title,
  .central-first-content-second-box-subtitle {
    font-size: 3.1rem;
  }

  .central-first-content-second-box-info-us,
  .central-first-content-second-box-info-comfort {
    font-size: 1.2rem;
  }

  .footer-box-location {
    justify-content: flex-end !important;
    padding-right: 1.25rem;
  }
}

@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 5rem;
  }

  .main-img {
    height: 30rem;
  }

  .line {
    width: 25rem;
  }
}
